@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);
body{
	text-align: center;
	background: url(http://www.buzzinn.net/img/arts/beautiful-black-and-white-photography/beautiful-black-and-white-photography15.jpg) no-repeat center center fixed;
    background-size: contain;
    background-position: center;
    background-color: dimgray;
        }
h2{
	font-style: italic;
}
p{
   font-size: 17px;
   font-style: oblique; 
}
ul{
	text-align: center;
	display: inline-block;
	font-style: oblique;
   }
h1{font-family: 'Libre Baskerville', serif;
 }
h2{font-family: 'Libre Baskerville', serif;}